		<div class="jumbotron">
			<div class="table">
				<div class="header-text">
					<div class="row">
						<div class="col-md-12 text-center">
							<h3>Si gustas agrega una imagen.</h3>
							<div>
							<% if user_signed_in? %>
							  <li>
							  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
							  </li>
							<% else %>
							  <li>
							  <%= link_to('Login', new_user_session_path)  %>
							  </li>
							<% end %>
						  </div>

							<span class="typed-cursor">|</span>
						</div>
						<%= form_for @current_user, url: laboratorio_upload_file_path, method: :post do |f| %>
						  <%= f.label :file %>:
						  <%= f.file_field :file %><br />
							<%= f.button :submit do %>
  						<i class='icon-white icon-ok'></i> Subir imagen
							<% end %>
						<% end %>
						<% @current_user.galleries.each do |image| %>
						<%= image_tag(image.file_url(:thumb)) %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
